*{
  margin: 0
}

body{
  background-color: rgb(0, 0, 0);
}
.bloc{
  height: 100vh;
  overflow: hidden;
  margin-left: 300px;
}

.bloc video{
  min-height: 100%;
  min-height: 100%;
  z-index: -100;
  position: fixed;
}


.dbtn{
  
  position:fixed;
  top: 45px;
  left: 1620px;
  font-size: 3em;
  height: 40px;
  width: 120px;
  border-color: #738ADB;
  border-style: solid;
  border-radius: 10px;
  margin-bottom: 30px;
  transition: 0.5s;
  text-align: center;
  text-decoration: none;
  font-family: impact;
  color: rgb(206, 168, 0);
  background-color: rgba(0, 0, 0, 0.37);
  box-shadow: 5px 5px rgba(0, 0, 0, 0.37);
  font-size: 2em;
}



  .dbtn:hover{
    background-color: #738adbad;
    color: white;
  }


  audio{
    position: absolute;
    left: 1550px;
    bottom: 50px;
  }